<footer id="footer">
    <hr>
    <center>
        {{ with .Site.Params.footer }}
            {{ $navbar_len := len . }}
            {{ range $i, $nav_item := . }}
                <a {{ with .rel }} rel="{{ . }}" {{ end }} href="{{ .url | absURL }}"><small>{{ .text }}</small></a> 

                {{ if ne (add $i 1) $navbar_len }}
                    /
                {{ end }}
            {{ end }}
        {{ end }}
        <div>
            <a href="https://gitlab.com/wolfenrain/wolfenra.in"><small>Source code</small></a>
        </div>
    </center>
</footer>

<div style="text-align: right; padding: 0.5rem;">
    <small>
    Theme by <a href="https://github.com/ojroques/hugo-researcher">Olivier Roques</a> and powered by <a href="https://gohugo.io/">Hugo</a>
</div>