{{ $from := .Get "from" }}
{{ $to := .Get "to" }}
{{ $title := .Get "title" }}
{{ $company := .Get "company" }}
{{ $companyLink := .Get "companyLink" }}
{{ $description := .Get "description" }}
{{ $col := .Get "col" }}

<div class="row no-gutters">
    {{ if $from }}
    <div class="col-sm-2" style="padding-right: 1em; font-style: italic;">
        {{ $from }} 
        {{ if $to }}
            - {{ $to }}
        {{ end }}
    </div>
    {{ end }}
    <div class="col-10">
        <b>{{ $title | markdownify }}</b>{{ if $company }}, 
            {{ if $companyLink }}
                <a href="{{ $companyLink | absURL }}">{{ $company | markdownify }}</a>
            {{ else }}
                {{ $company | markdownify }}
            {{ end }}
        {{ end }}
        {{ if $description }}
            <p>{{ $description | markdownify }}</p>
        {{ end }}
        {{ if .Get "item1" }}
            {{ if .Get "itemTitle" }}
            {{ .Get "itemTitle" }}:
            {{ end }}
            <ul style="padding-left: 1rem">
                {{ range $i, $sequence := (seq 10) }}
                    {{ $key := printf "item%d" $i }}
                    {{ $item := $.Get $key }}
                    {{ if $item }}
                        <li style="list-style: square">{{ $item | markdownify }}</li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
        {{ if .Get "project1" }}
            Projects include:
            <ul style="padding-left: 1rem">
                {{ range $i, $sequence := (seq 10) }}
                    {{ $key := printf "project%d" $i }}
                    {{ $item := $.Get $key }}
                    {{ if $item }}
                        <li style="list-style: square">{{ $item | markdownify }}</li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
        {{ if .Get "task1" }}
            Tasks include:
            <ul style="padding-left: 1rem">
                {{ range $i, $sequence := (seq 10) }}
                    {{ $key := printf "task%d" $i }}
                    {{ $item := $.Get $key }}
                    {{ if $item }}
                        <li style="list-style: square">{{ $item | markdownify }}</li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
        {{ if .Get "tech1" }}
            <b>Technologies used</b>:
            {{ range $i, $sequence := (seq 10) }}
                {{ $key := printf "tech%d" $i }}
                {{ $item := $.Get $key }}
                {{ if $item }}
                    {{ $nextIndex := add $i 1 }}
                    {{ $nextKey := printf "tech%d" $nextIndex }}
                    {{ $indexAfter := add $nextIndex 1 }}
                    {{ $keyAfter := printf "tech%d" $indexAfter }}
                    {{ $item | markdownify }}{{ if and ($.Get $nextKey) ($.Get $keyAfter) }},{{ else if $.Get $nextKey }} and {{ else }}. {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
</div>