{{ $what := .Get "what" }}
<sup style="cursor: pointer;"> <a onclick="play()">(pronunciation)</a> </sup>
<audio id="audio" src="/{{ $what }}.mp3"></audio>
<script>
    function play() {
        var audio = document.getElementById("audio");
        audio.play();
    }
</script>